body {
    background-image: url("https://kadalngesot.files.wordpress.com/2011/05/universe-and-planets-digital-art-wallpaper-spring.jpg");
    margin: 0px;
}

.navbar {
    background-color: #222222;
    height: 10vh;
    width: 100vw;
}

.left-name {
    font-size: 30px;
    color: white;
    height: 15vh;
    width: 45vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.right-links {
    font-size: 20px;
    height: 15vh;
    width: 45vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* ^^^^NAVIGATION BAR IS ABOVE^^^^ */